extends ../layout.pug

block style
  if typeof style === 'string'
    style.
      !{style}
  else if style.institutional
    link(
      href=style.institutional
      rel='stylesheet'
      type='text/css'
    )

block main
  #content
    != html

block script
  script(type='text/javascript').
    window.__INITIAL_STATE__ = !{initialState};

  if script.institutional
    script(
      src=script.institutional
      type='text/javascript'
    )


